body {
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 960px;
}

#flow_execution_chart,#scenarios_by_funcion_chart,#behavioural_test_coverage{
	width: 33%;
	float: left;
}
