body {
    font-size: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 1280px;
    margin: 0 auto;
}

#flow_execution_chart,#behavioural_test_coverage{
	width: 30%;
	float: left;
}

#scenarios_by_funcion_chart{
	width: 40%;
	float: left;
}
